<div class="modal-header">
  <h4 class="modal-title" id="modal-title">اضافة اعلان جديد</h4>
  <button
    type="button"
    class="btn-close"
    aria-describedby="modal-title"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body" style="padding: 20px; background-color: #f8f9fa; border-radius: 10px;">
  <div class="row">
    <div class="col">
      <!-- حقل الوصف -->
      <div class="form-group">
        <label for="adDescription" style="font-weight: bold; color: #333;">وصف الإعلان</label>
        <input
          id="adDescription"
          type="text"
          class="form-control"
          placeholder="وصف الإعلان"
          [(ngModel)]="newName"
          style="margin-bottom: 15px; padding: 10px; font-size: 16px; border-radius: 5px;"
        />
      </div>

      <!-- صورة الإعلان -->
      <div class="form-group text-center">
        <img
          [src]="imgResultAfterCompression"
          *ngIf="imgResultAfterCompression"
          alt="صورة الإعلان"
          style="max-width: 100%; height: auto; border-radius: 10px; margin-bottom: 15px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);"
        />
      </div>

      <!-- زر اختيار الصورة ونص الحجم المطلوب -->
      <div class="form-group">
        <label for="formFile" class="form-label" style="font-weight: bold; color: #333;">صورة الإعلان</label>
        <button type="button" class="btn btn-success btn-block" (click)="compressFile()" style="width: 100%; padding: 10px; font-size: 16px; border-radius: 5px;">
          اختر صورة
        </button>
        <small class="form-text text-muted" style="margin-top: 10px; display: block; text-align: center;">
          يجب أن تكون أبعاد الصورة 800x600 بكسل
        </small>
      </div>
    </div>
  </div>
</div>


<div class="modal-footer">
  <button
    type="button"
    class="btn btn-success"
    [disabled]="isDisabledSaveButton()"
    (click)="onSave()"
  >
    Save
  </button>
</div>
