<div class="modal-header">
  <h4 class="modal-title" id="modal-title">
    Add New Group
  </h4>
  <button type="button" class="btn-close" aria-describedby="modal-title"
    (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div
  class="modal-body"
  style="
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    direction: rtl;
  "
>
  <div class="row">
    <div class="col">
      <!-- حقل الاسم -->
      <div class="form-group">
        <label for="productName" style="font-weight: bold; color: #333"
          >الاسم</label
        >
        <input
          id="productName"
          type="text"
          class="form-control"
          placeholder="ادخل الاسم"
          [(ngModel)]="newName"
          style="
            margin-bottom: 15px;
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
          "
        />
      </div>
      <div class="form-group text-center" style="margin-bottom: 15px"></div>
        <img
          [src]="imgResultAfterCompression"
          *ngIf="imgResultAfterCompression"
          alt="صورة الكوبون"
          style="
            max-width: 100%;
            height: 300px;
            aspect-ratio: 1/1;
            border-radius: 10px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            margin-bottom: 10px;
          "
        />
      

      <!-- زر اختيار الصورة -->
      <div class="form-group">
        <label
          for="formFile"
          class="form-label"
          style="font-weight: bold; color: #333"
          >الصورة</label
        >
        <button
          type="button"
          class="btn btn-success btn-block"
          (click)="compressFile()"
          style="
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
          "
        >
          اختر صورة
        </button>
        <small
          class="form-text text-muted"
          style="margin-top: 10px; text-align: center"
        >
          يجب أن تكون أبعاد الصورة 800x600 بكسل.
        </small>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" [disabled]="isDisabledSaveButton()" (click) = "onSave()"  >
      Save
    </button>
</div>