<!-- <button (click)="read()">read</button> -->
<div *ngIf="isLoading; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <div style="text-align: center">
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
</ng-template>
<!-- 1 -->
<ng-template #elseBlock>
  <div *ngIf="isError; then thenBlock1; else elseBlock1"></div>
  <ng-template #thenBlock1>
    <div style="text-align: center">
      <div>
        <div
          style="
            border: 1px solid rgb(255, 8, 8);
            border-radius: 60px;
            width: 500px;
            margin: auto;
            height: 300px;
            display: flex;
            justify-items: center;
            align-items: center;
            background-color: aliceblue;
          "
        >
          <div style="width: -webkit-fill-available">
            <div style="margin: 10px; color: red">
              {{ error }}
            </div>

            <button
              *ngIf="!isSearchMode"
              (click)="read()"
              class="btn btn-outline-danger"
            >
              اعادة المحاولة
            </button>
            <button
              *ngIf="isSearchMode"
              (click)="search()"
              class="btn btn-outline-danger"
            >
              اعادة المحاولة
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #elseBlock1>
    <div>
      <button (click)="add()" class="btn btn-outline-primary">اضافة</button>
      <button
          *ngIf="stateController.selected.length > 0"
          class="btn btn-outline-danger"
          (click)="openDelete()"
        >
          حذف
        </button>
    </div>
    
    <ng-template ngFor let-item [ngForOf]="resultData" let-c="index">
      <div
        style="
          height: 100px;
          background-color: aliceblue;
          margin: 10px;
          border-radius: 10px;
          padding: 5px;
          display: flex;
          justify-items: center;
          justify-content: space-between;
        "
      >
        <img
          (click)="openModalUpdateImage(item)"
          src="{{ item.category_image_path + item.image }}"
          style="width: 70px; height: 70px"
          alt=""
          srcset=""
        />
        <span
          style="
            border: 1px solid;
            padding: 2px;
            direction: rtl;
            border-radius: 10px;
            width: 250px;
          "
        >
          <div (click)="openModalUpdateName(item)">
            {{ item.name }}
          </div>
          <div>
            <span>الترتيب: </span>
            <span (click)="openModalUpdateOrder(item)">{{ item.order }}</span>
          </div>
          <div>
            <span>تاريخ الاضافة: </span>
            <span>{{ item.createdAt }}</span>
          </div>
        </span>
        <span>
          <button
            (click)="openProductsGroups(item)"
            class="btn btn-outline-success"
          >
            مجموعات المنتجات
          </button>
        </span>

        <span>
          <button
            class="btn btn-primary"
            *ngIf="stateController.selected.includes(item.id) === false"
            (click)="stateController.addToSelected(item.id)"
          >
            تحديد
          </button>
          <button
            class="btn btn-danger"
            *ngIf="stateController.selected.includes(item.id) === true"
            (click)="stateController.removeFromSelected(item.id)"
          >
            الغاء التحديد
          </button>
        </span>

        <button (click)="openProducts(item)" class="btn btn-outline-success">
          المنتجات
        </button>
      </div>
    </ng-template>
  </ng-template>
</ng-template>
