<!-- <button (click)="read()">read</button> -->
<div *ngIf="isLoading; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <div style="text-align: center">
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
</ng-template>
<!-- 1 -->
<ng-template #elseBlock>
  <div *ngIf="isError; then thenBlock1; else elseBlock1"></div>
  <ng-template #thenBlock1>
    <div style="text-align: center">
      <div>
        <div
          style="
            border: 1px solid rgb(255, 8, 8);
            border-radius: 60px;
            width: 500px;
            margin: auto;
            height: 300px;
            display: flex;
            justify-items: center;
            align-items: center;
            background-color: aliceblue;
          "
        >
          <div style="width: -webkit-fill-available">
            <div style="margin: 10px; color: red">
              {{ error }}
            </div>

            <button
              *ngIf="!isSearchMode"
              (click)="read()"
              class="btn btn-outline-danger"
            >
              اعادة المحاولة
            </button>
            <button
              *ngIf="isSearchMode"
              (click)="search()"
              class="btn btn-outline-danger"
            >
              اعادة المحاولة
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #elseBlock1>
    <button (click)="add()" class="btn btn-outline-primary">اضافة</button>
    <ng-template ngFor let-item [ngForOf]="resultData" let-c="index">
      <div
        style="
          height: 180px;
          background-color: #f8f9fa;
          margin: 10px;
          border-radius: 15px;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          transition: transform 0.3s ease;
        "
     
      >
        <div
          style="
            width: 320px; /* Adjust the width according to your layout */
            position: relative;
            overflow: hidden;
            border-radius: 15px;
            cursor: pointer;
          "
          (click)="openModalUpdateImage(item)"
        >
          <img
            [src]="item.image"
            alt="{{ item.name }}"
            style="
              width: 100%;
              height: auto;
              display: block;
              aspect-ratio: 16 / 9;
            "
          />
        </div>
    
        <div
          style="
            flex-grow: 1;
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          "
        >
          <div
            style="
              font-weight: bold;
              font-size: 1.2em;
              margin-bottom: 5px;
              cursor: pointer;
            "
            (click)="openModalUpdateName(item)"
          >
            {{ item.name }}
          </div>
          <div
          style="
            font-weight: bold;
            font-size: 1.2em;
            margin-bottom: 5px;
            cursor: pointer;
          "
          (click)="openUpdatePrice(item)"
        >
          {{ item.price }}
        </div>
          <div style="font-size: 0.9em; color: #6c757d; margin-bottom: 10px;">
            <span>تاريخ الاضافة: </span>
            <span>{{ item.createdAt }}</span>
          </div>
    
          <div style="display: flex; gap: 10px;">
            <button
              (click)="openProducts(item)"
              class="btn btn-outline-success"
              style="flex-grow: 1;"
            >
              المنتجات
            </button>
    
            <button
              (click)="openUpdateAvailable(item)"
              [ngStyle]="{
                'background-color': item.isEnabled == 1 ? '#28a745' : '#dc3545'
              }"
              style="
                color: white;
                border: none;
                border-radius: 10px;
                padding: 10px 20px;
                cursor: pointer;
                transition: background-color 0.3s;
                flex-grow: 1;
              "
            >
              {{ item.isEnabled == 1 ? "Enable" : "Disable" }}
            </button>
          </div>
        </div>
      </div>
    </ng-template>
    
  </ng-template>
</ng-template>
