<div class="modal-header">
  <h4 class="modal-title" id="modal-title">اضافة عرض جديد</h4>
  <button
    type="button"
    class="btn-close"
    aria-describedby="modal-title"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <div class="row g-3">
    <!-- Offer Description -->
    <div class="col-12">
      <input
        type="text"
        class="form-control"
        placeholder="وصف العرض"
        [(ngModel)]="description"
      />
    </div>

    <!-- Offer Name -->
    <div class="col-12">
      <input
        type="text"
        class="form-control"
        placeholder="اسم العرض"
        [(ngModel)]="newName"
      />
    </div>

    <!-- Offer Price -->
    <div class="col-12">
      <input
        type="text"
        class="form-control"
        placeholder="سعر العرض"
        [(ngModel)]="price"
      />
    </div>

    <!-- Offer Expiration Date -->
    <div class="col-12">
      <input
        type="text"
        class="form-control"
        placeholder="ايام العرض"
        [(ngModel)]="expireAt"
      />
    </div>

    <!-- Display Compressed Image -->
    <div class="col-12 text-center" *ngIf="imgResultAfterCompression">
      <img
        [src]="imgResultAfterCompression"
        alt="عرض الصورة"
        style="width: 100px; height: 100px; object-fit: cover; margin-top: 10px;"
      />
    </div>

    <!-- Image Upload -->
    <div class="col-12">
      <label for="formFile" class="form-label">صورة العرض</label>
      <button type="button" class="btn btn-success w-100" (click)="compressFile()">
        اختر صورة
      </button>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-success"
    [disabled]="isDisabledSaveButton()"
    (click)="onSave()"
  >
    Save
  </button>
</div>
